{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block content %}



	{{ form_start(form) }}

	<div>
		{{ form_label(form.email) }}
		{{ form_widget(form.email) }}
		{{ form_errors(form.email) }}
	</div>

	<div>
		{{ form_widget(form.password) }}
		{{ form_errors(form.password) }}
	</div>

	<div>
		{{ form_label(form.user_name) }}
		{{ form_widget(form.user_name) }}
		{{ form_errors(form.user_name) }}
	</div>

	<div>
		{{ form_label(form.user_instr) }}
		{{ form_widget(form.user_instr) }}
		{{ form_errors(form.user_instr) }}
	</div>

	<div>
		{{ form_label(form.story) }}
		{{ form_widget(form.story) }}
		{{ form_errors(form.story) }}
	</div>

	<div>
		{{ form_label(form.profile_picture) }}
		{{ form_widget(form.profile_picture) }}
		{{ form_errors(form.profile_picture) }}
	</div>

	<div>
		{{ form_label(form.createdAt) }}
		{{ form_widget(form.createdAt, {'attr': {'class': 'datepicker'}}) }}
		{{ form_errors(form.createdAt) }}
	</div>
	
	<button type="submit">{{ 'Submit'|trans }}</button>


	{{ form_end(form) }}


{% endblock %}
