{% extends 'base.html.twig' %}

{% block title %}Instrument index{% endblock %}

{% block body %}
    <h1>Instrument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Manufacturer</th>
                <th>Type_instr</th>
                <th>Name_instr</th>
                <th>Picture_url</th>
                <th>Year_instr</th>
                <th>Oscillators</th>
                <th>Envelopes</th>
                <th>Filter_instr</th>
                <th>Lfos</th>
                <th>Polyphony</th>
                <th>Multitimbral</th>
                <th>IsApproved</th>
                <th>Synthesis_type</th>
                <th>Rating</th>
                <th>Review_count</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
            <tr>
                <td>{{ instrument.id }}</td>
                <td>{{ instrument.manufacturer }}</td>
                <td>{{ instrument.typeInstr }}</td>
                <td>{{ instrument.nameInstr }}</td>
                <td>{{ instrument.pictureUrl }}</td>
                <td>{{ instrument.yearInstr }}</td>
                <td>{{ instrument.oscillators }}</td>
                <td>{{ instrument.envelopes }}</td>
                <td>{{ instrument.filterInstr }}</td>
                <td>{{ instrument.lfos }}</td>
                <td>{{ instrument.polyphony }}</td>
                <td>{{ instrument.multitimbral }}</td>
                <td>{{ instrument.isApproved ? 'Yes' : 'No' }}</td>
                <td>{{ instrument.synthesisType ? instrument.synthesisType|json_encode : '' }}</td>
                <td>{{ instrument.rating }}</td>
                <td>{{ instrument.reviewCount }}</td>
                <td>{{ instrument.createdAt ? instrument.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_instrument_show', {'id': instrument.id}) }}">show</a>
                    <a href="{{ path('app_instrument_edit', {'id': instrument.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_instrument_new') }}">Create new</a>
{% endblock %}
