{% extends 'base.html.twig' %}

{% block title %}Instrument{% endblock %}

{% block content %}
    <h1>Instrument</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instrument.id }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ instrument.manufacturer }}</td>
            </tr>
            <tr>
                <th>Type_instr</th>
                <td>{{ instrument.typeInstr }}</td>
            </tr>
            <tr>
                <th>Name_instr</th>
                <td>{{ instrument.nameInstr }}</td>
            </tr>
            <tr>
                <th>Picture_url</th>
                <td>{{ instrument.pictureUrl }}</td>
            </tr>
            <tr>
                <th>Year_instr</th>
                <td>{{ instrument.yearInstr }}</td>
            </tr>
            <tr>
                <th>Oscillators</th>
                <td>{{ instrument.oscillators }}</td>
            </tr>
            <tr>
                <th>Envelopes</th>
                <td>{{ instrument.envelopes }}</td>
            </tr>
            <tr>
                <th>Filter_instr</th>
                <td>{{ instrument.filterInstr }}</td>
            </tr>
            <tr>
                <th>Lfos</th>
                <td>{{ instrument.lfos }}</td>
            </tr>
            <tr>
                <th>Polyphony</th>
                <td>{{ instrument.polyphony }}</td>
            </tr>
            <tr>
                <th>Multitimbral</th>
                <td>{{ instrument.multitimbral }}</td>
            </tr>
            <tr>
                <th>IsApproved</th>
                <td>{{ instrument.isApproved ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Synthesis_type</th>
                <td>{{ instrument.synthesisType ? instrument.synthesisType|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ instrument.rating }}</td>
            </tr>
            <tr>
                <th>Review_count</th>
                <td>{{ instrument.reviewCount }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ instrument.createdAt ? instrument.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_instrument_search') }}">back to list</a>

    <a href="{{ path('app_instrument_edit', {'id': instrument.id}) }}">edit</a>

    {{ include('instrument/_delete_form.html.twig') }}
{% endblock %}
