{% extends 'base.html.twig' %}

{% block title %}Contribution index{% endblock %}

{% block body %}
    <h1>Contribution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Style</th>
                <th>Type_contribution</th>
                <th>Upload</th>
                <th>External_url</th>
                <th>Image_url</th>
                <th>Bpm</th>
                <th>Format</th>
                <th>Key_contrib</th>
                <th>Duration</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>IsApproved</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contribution in contributions %}
            <tr>
                <td>{{ contribution.id }}</td>
                <td>{{ contribution.title }}</td>
                <td>{{ contribution.style }}</td>
                <td>{{ contribution.typeContribution }}</td>
                <td>{{ contribution.upload }}</td>
                <td>{{ contribution.externalUrl }}</td>
                <td>{{ contribution.imageUrl }}</td>
                <td>{{ contribution.bpm }}</td>
                <td>{{ contribution.format }}</td>
                <td>{{ contribution.keyContrib }}</td>
                <td>{{ contribution.duration }}</td>
                <td>{{ contribution.description }}</td>
                <td>{{ contribution.createdAt ? contribution.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contribution.isApproved ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_contribution_show', {'id': contribution.id}) }}">show</a>
                    <a href="{{ path('app_contribution_edit', {'id': contribution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contribution_new') }}">Create new</a>
{% endblock %}
